= form_tag validate_path, { class: %w(form-horizontal), method: :get } do
  .control-group.field
    = label_tag :validators, 'Validators', class: %w(control-label)
    .controls
      - if params[:validator_ids]
        - validator_ids = params[:validator_ids].collect { |id| id.to_i }
      - else
        - validator_ids = []
      - Validator.all.each do |validator|
        - validator_id = validator.id
        - check_box_id = "validator_id_#{validator_id}"
        %label.checkbox.inline{ for: check_box_id }
          = check_box_tag 'validator_ids[]', validator_id, validator_ids.include?(validator_id), id: check_box_id
          = validator.name

  .control-group.field
    = label_tag :href, 'Your Site URL', class: %w(control-label)
    .controls
      = text_field_tag :href, params[:href], class: %w(input-block-level), placeholder: 'http://example.com'
  .form-actions
    = submit_tag 'Validate', class: %w(btn btn-primary)
