%p
  %b Name:
  = @validator.name
%p
  %b Format:
  = @validator.format
%p
  %b Content:
  = @validator.content

.form-actions
  = link_to 'Edit', edit_validator_path(@validator), class: %w(btn btn-primary)
  = link_to 'Back', validators_path, class: %w(btn)

= content_for :title do
  = @validator.name
