- if @href.present?
  - title = "Results: #{@href}"
- else
  - title = 'Results: No site URL'
%h1
  = title

= render 'validation'

%h2
  %span.icon-hand-right
  Validate more...
= render 'home/form'

= content_for :title do
  = title
