- if @href.present?
  - title = @href
- else
  - title = 'No site URL'
%h1
  %span.icon-hand-right
  = title

= render 'validation'

%h2
  %span.icon-hand-right
  Validate more...
= render 'home/form'

= content_for :title do
  = title
