!!! 5
%html(lang="en")
  %head
    = render 'shared/head'
  %body
    = render 'shared/facebook_root'
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand(href="/") Octopus Validator
    .container
      .row
        .span12
          = bootstrap_flash
          = yield
          = render 'shared/facebook_like'
      %footer
        %p &copy; Yoshihiro Sawa &amp; Kyoko Nozaki
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
