!!! 5
%html(lang="en")
  %head
    = render 'shared/head'
  %body
    = render 'shared/facebook_root'
    .navbar.navbar-static-top
      .navbar-inner
        .container
          %a.brand{ href: root_path }
            Octopus Validator

          %button(type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          </button>
          .nav-collapse.collapse.pull-right
            %ul.nav
              %li{ class: (I18n.locale == :en ? :active : nil) }
                = link_to 'English', root_en_path
              %li{ class: (I18n.locale == :ja ? :active : nil) }
                = link_to '日本語', root_ja_path
    .container
      .row
        .span12
          = bootstrap_flash
          = yield
          = render 'shared/facebook_like'
      %footer
        %p &copy; Yoshihiro Sawa &amp; Kyoko Nozaki
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
